/*
Pedro J Rodriguez
VFW project 4
0113 31JAN2013
*/

body{
	background-color: #033544;
	font-family: Arial;
	color: #ffffff
	
	
}

#formPartOne {
	
	background-color: transparent;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	
}

#formPartTwo {
	background-color: transparent;
	background-repeat: no-repeat;
	margin-top: 20px;
	
	
}


#legendOne{ 

	font-family: fantasy;
	text-decoration: underline;
	color: #edf022;
	
}

#legendTwo{
	font-family: fantasy;
	text-decoration: underline;
	color:	#edf022; 
	
	 
}

#addItemHeader {
	font-family: fantasy;
	
}


h1 {
	padding: 20px ;
	border: 1px black solid ;
	margin: 5px 20px 5px 20px ;
	color: #000000;
	text-align: left;
	background-color: #0f84b7;
	background-image: url(../Images/Biscocho.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	font-family: cursive;
	border-radius: 22px;
}

li{
	display:block;
	
}

h3 {
	font-style: normal;
	font-variant: small-caps;
	font-family: "Times New Roman";
	
}

p{
	color:  ;
	font-style: italic;
	font-family:  Verdana;
	font-weight: normal;
	line-height: 14px ;
	letter-spacing:1px;
	text-indent:10px;
	text-align: block;
}


Label {
	font-family: "Times New Roman";
	
}

#firstName {
	display: block;
	
}

#lastName {
	display: block;
}

#email {
	display: block
	
}

select {
	display: block;
	font-family: cursive;
}

#rangeSlider {
	display: block;
}

#duedate {
	display: block;
}
textarea {
	display: block;
	
}

#proceed {
	font-variant: small-caps;
	position: left;
}

#reset {
	font-variant: small-caps;
	position: center;
	
}

#displayData {
	font-variant: small-caps;
	position: right;
	
}

#valErrors {
	color: #ff0000;
	text-shadow: 5px 5px 10px #000000;
	text-decoration: underline;
}

















